* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #414942;
}

.container-menu {
    display: flex;
    background-color: #414942;
    width: 228px;
    flex-direction: line;
    height: 100%;
    min-height: 100vh;
}

.menor {
    display: flex;
    width: 59px;
    height: 100%;
    flex-direction: column;
    min-height: 100vh;
    
}

.maior {
    flex: 1;
    flex-direction: column;
    display: flex;
    height: 100%;
    min-height: 100vh;
    

}

.container-site {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;  
}

.container-site-2 {
    display: flex;
    flex: 1;
    flex-direction: column;  
}

.container-banner {
    display: flex;
    flex-direction: column;
    height: 140px;
    background-image: url("/images/camuflado.png");
    justify-content: space-between;
    background-position: center;
    background-size:cover
    
}


.container-conteudo {
    background-color: #D9D9D9;
    flex: 1;
    display: flex;
    display: grid;
    border-bottom: 1px solid #B3B0B0;
    
}

.container-conteudo-pms {
    grid-template-columns: repeat(6, 1fr);
}

.container-conteudo-arms {
    grid-template-columns: repeat(6, 1fr);
}

.container-conteudo-vtrs {
    grid-template-columns: repeat(4, 1fr);
}



.container-banner-menu {
    display: flex;
    background-color: #FFFFFF;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.txtmenu {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.menu-desc {
    background-color: #414942;
}

.container-footer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    
    
    
}

.footer {
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    height: 80px;
    
}


.img-menu {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url('/images/icones/menu.png');
    background-position: center;
    background-size:cover;
}

.div-menu {
    background-color: #414942;
    height: 200px;
    cursor: pointer;
    
}



.div-pm {
    background-color: #414942;
    cursor: pointer;
}

.img-pm {
    width: 47px;
    height: 66px;
    margin: 5px;
    background-image: url('/images/icones/man.png');
    background-position: center;
    background-size:cover;
}

.div-arma{
    background-color: #414942;
    margin-top: 10px;
    cursor: pointer;
}

.img-arma {
    width: 47px;
    height: 66px;
    margin: 5px;
    background-image: url('/images/icones/pistol.png');
    background-position: center;
    background-size:cover;
    
}

.div-vtr{
    background-color: #414942;
    cursor: pointer;
}

.img-vtr {
    width: 47px;
    height: 80px;
    margin: 5px;
    background-image: url('/images/icones/car.png');
    background-position: center;
    background-size:cover;
}

.img-vtr2 {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-image: url('/images/icones/graph.png');
    background-position: center;
    background-size:cover;
    margin-top: 13px;
}

.div-cadastrosm{
    background-color: #414942;
    cursor: pointer;
    color: #D9D9D9;
    height: 70px;
}

.img-resume {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-image: url('/images/icones/resume.png');
    background-position: center;
    background-size:cover;
    margin-top: 15px;
    margin-left: 7px;
}

.div-sair{
    background-color: #414942;
    display: flex;
}

.img-sair {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url('/images/icones/logout.png');
    background-position: center;
    background-size:cover;
    
}

.div-perfil{
    margin-top: 10px;
    background-color: #414942;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
}

.img-perfil {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-image: url('/images/icones/DK.jpg');
    background-position: center;
    background-size:cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    
}

.grad{
    background-color: #414942;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.func{
    background-color: #414942;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
}



.div-pmm {
    display: flex;
    margin-top: 56px;
    color: #D9D9D9;
    cursor: pointer;

}

.img-pmm {
    width: 47px;
    height: 66px;
    margin: 5px;
    display: flex;
    justify-content:left;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    
}

.div-armam{
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    color: #D9D9D9;
}

.img-armam {
    width: 47px;
    height: 66px;
    margin: 5px;
    display: flex;
    justify-content:left;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    
    
}

.div-vtrm{
    background-color: #414942;
    display: flex;
    cursor: pointer;
    color: #D9D9D9;
}

.img-vtrm {
    width: 47px;
    height: 80px;
    margin: 5px;
    display: flex;
    justify-content:left;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    
    
}

.img-vtrm2 {
    width: 47px;
    height: 58px;
    margin: 5px;
    display: flex;
    justify-content:left;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    
    
}

.cadastros-vtrm {
    width: 47px;
    height: 55px;
    margin: 5px;
    display: flex;
    justify-content:left;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    margin-top: 12px;
    
    
}

.div-sairm{
    background-color: #414942;
    justify-content: space-between;

}

.img-sairm {
    width: 40px;
    height: 40px;
    margin: 10px;
    align-self: flex-end;
    display: flex;
    justify-content:left;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 33px;
    color: #D9D9D9;
    
}



.area-pm {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 235px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);

}

.area-foto {
    display: flex;
    background-color: #FFFFFF;
    height: 159px;
    justify-content: center;
    align-items: center;
    
}

.area-foto-2 {
    display: flex;
    background-position: center;
    background-size:cover;
    height: 140px;
    width: 110px;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    margin-bottom: 5px;
}



.area-dados {
    display: flex;
    background-color: #414942;
    height: 96px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.dados {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
}

.area-botao {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
}

.botao2 {
    height: 20px;
    margin: 5px;
    width: 80%;
    background: #0B9510;
    border: 2px solid #000000;
    border-radius: 4px;
    color: #414942;
    font-size: auto;
    color: #FFFFFF;
    cursor: pointer;
}




.selected {
    background-color: #D9D9D9;
    color: #414942;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.div-armam:hover {
    opacity: 70%;
}

.div-arma:hover {
    opacity: 70%;
}

.div-pm:hover {
    opacity: 70%;
}

.div-pmm:hover {
    opacity: 70%;
}

.div-vtr:hover {
    opacity: 70%;
}

.div-vtrm:hover {
    opacity: 70%;
}

.fundo-add-pm {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 30px; 
    height: 380px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.7);
}

.add-num {
    display: flex;
    justify-content:space-between;
    margin: 6px 10px 5px 
}

.texto-add {
    width: 40%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.input-add {
    width: 60%;
    height: 18px;
    margin-top: 2px;
    border-radius: 5px;
    padding-left: 5px;
}

.input-add-select {
    width: 62%;
    border-bottom: 1px solid black;
    height: 22px;
    margin-top: 3px;
    border-radius: 5px;
}

.botoes-add-pm{
    display: flex;
    margin-left: 9px;
    margin-top: 5px;
    border: 0px solid black;
    background-color: #D9D9D9;
    cursor: pointer;
    width: 50px;
}

.btn-add-pm {
    width: 35px;
}

.add-txt-pm-add {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: center;
    margin-left: 05px;
    color: #479b78;
    margin-top: 5px;
}

.resto-site {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.resto-site2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.selecionar-itens-adicionar {
    display: flex;
    flex-direction: line;
    margin: 30px;
}

.itens-menu-add{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    text-align: center;
}

.textos-itens-adicionar{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 137px;
    color: #000000;
    
}

.img-add-itenss {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    width: 137px;
    height: 234px;
}

.buscar {
    display: flex;
    flex-direction: line;
    background-color: #414942;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100px;
    height: 20px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
}

.text-buscar {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    margin-left: 4px;
    margin-right: 4px;
    color: #FFFFFF;
    border: 0px;
    background-color: #414942;
    height: 20px;
}

.input-buscar {
    font-size: 13px;
    width: 190px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 18px;
    border: 1px solid #414942;
    padding-left: 2px;
}

.container-espaco-vtr {
    display: flex;
    flex-direction: column;
    width: 216px;
    height: 497px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
    margin: 30px;
}

.container-espaco-foto {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.container-espaco-nome {
    display: flex;
    background-color: #414942;
    height: 55px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt-nvtr {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.txt-placa {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.container-espaco-icons-status {
    display: flex;
    flex-direction: line;
    height: 55px;
    justify-content: center;
    align-items: center;
}

.img-sirene-verde {
    height: 41px;
}

.text-operando {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #54FEBD;
    margin-left: 7px;
    margin-top: 4px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.vtr-policia {
    height: 120px;
}

.text-mot-kmfinal {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    margin-left: 10px;
}

.area-btn-vtrs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-1-vtr-op, .btn-2-vtr-op, .btn-3-vtr-op {
    width: 200px;
    height: 28px;
    border: 2px solid #000000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-1-vtr-op {
    background: #0B9510;

}

.btn-2-vtr-op {
    background: #DBFF00;
    color: #000;
}

.btn-3-vtr-op {
    background: #FF0000;
}

.area-semaltera {
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.semalteracao{
    height: 46px;
}


.div-adiconar-material {
    display: flex;
    flex-direction: column;
    width: 410px;
    height: 270px;
    background: #414942;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 30px;
    margin-left: 1000px;
}

.txt-add-material-nv {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
    filter: blur(0.7px);
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #D9D9D9;
}

.container-meio-add {
    display: flex;
    flex-direction: column;
    height: 60%;
    margin-left: 10px;
    margin-right: 10px;
}

.container-meio-infos {
    display: flex;
    flex-direction: line;
    height: 25%;
    align-items: center;
    justify-content: space-between;
}

.textos-infos-add-itens {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    color: white;
}

.inputs-texts-meio {
    background: #D9D9D9;
    border-radius: 7px;
    height: 22px;
    width: 60%;
}

.obs-enviar {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    background-color: #414942;
}

.obs-button- {
    background-color: #414942;
}

.adicionar-link-img {
    cursor: pointer;
    height: 30px;
}

.container-meio-infos2 {
    display: flex;
    flex-direction: line;
    height: 20%;
    justify-content: space-between;
    flex: 1;
}

.inputs-texts-meio2 {
    background: #D9D9D9;
    border-radius: 7px;
    height: 90%;
    width: 234px;
    margin-right: 10px;
}

.adicionar-link-img2 {
    cursor: pointer;
    height: 35px;
    margin-top: 5px;
    width: 35px;
    margin-right: 5px;
}

.div-obs-img-adicionar {
    display: flex;
    flex-direction: line;
    align-items: center;
    cursor: pointer;
}

.textos-infos-add-itens {
    margin-top: 5px;
}

.addos-container {
    background-color: #414942;
    width: 600px;
    height: auto;
    padding: 2px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 20px;
}

.addos-container2 {
    background-color: #414942;
    width: 600px;
    height: 500px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 20px;
}

.itens-containes-os2{
    display: flex;
    flex: line;
    justify-content: center;
    align-items: center;
    
}

.itens-containes-os{
    display: flex;
    flex: line;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    margin-top: 5px;
}

.itens-containes-os2222{
    display: flex;
    flex: line;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    align-items:flex-start
}

.itens-containes-os666{
    display: flex;
    flex: line;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 10PX;
}

.itens-containes-os777{
    display: flex;
    flex: line;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    margin-top: 5px;
    padding: 0px;
}

.txt-cadastrar-os {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;
    
}

.inputs-add-os {
    width: 70.3%;
    border-radius: 8px;
    padding: 3px;
    font-family: 'Open Sans';
}

.inputs-add-os2222 {
    width: 70.3%;
    border-radius: 8px;
    padding: 3px;
    font-family: 'Open Sans';
}

.div-add-os {
    width: 70%;
    border-radius: 8px;
    padding: 3px;
    font-family: 'Open Sans';
    font-weight: 700;
    background-color: #D9D9D9;
    padding-left: 10px;
    
}




.inputs-add-os2 {
    width: 71.9%;
    border-radius: 8px;
    padding: 3px;
    font-family: 'Open Sans';
}


.txt-menu-addcontainer {
    color: white;
    font-size: 17px;
    font-family: 'Open Sans';
    font-style: normal;
}

.button-add-os-cav {
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Open Sans';
    font-size: 17px;
    background-color: green;
    color: white;
    border-radius: 7px;
    border-color: white;
}

.div-add-os222 {
    width: 100%;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-weight: 700;
    background-color: #D9D9D9;
    padding: 0px;
    height: auto;    
}

.lista-add-os {
    margin: 2px;
    min-height: 300px;
    height: auto;
}

.item-li-2 {
    font-size: 13px;
    font-weight: 100;
    width: 90%;
    margin-left: 22px;
}

.botan-listas-xxx{
    text-align: left;
}


