{{>partials/header2}}
    <div class="container">
        {{>partials/menu}}        
        </div>
        <div class="container-site">
            <div class="container-site-2">
                <div class="container-banner"></div>
                <div class="container-banner-menu">
                    <span class="txtmenu">{{menu.title}}</span>
                    {{#menu.title2}}
                    <form class="buscar" action="{{menu.busca}}" method="post">
                        <div class="buscar">
                            <button class="text-buscar">BUSCAR</button>
                        </div>
                        <input class="input-buscar" type="text" placeholder="Digite o {{menu.title2}}" name="busca">
                    </form>
                    {{/menu.title2}}
                </div>
                <div class="container-conteudo container-conteudo-pms">
                {{#menu.pms}}<div class="container-conteudo container-conteudo-pms">{{/menu.pms}}
                {{#menu.material}}<div class="container-conteudo container-conteudo-arms">{{/menu.material}}
                {{#menu.vtrs}}<div class="container-conteudo container-conteudo-vtrs">{{/menu.vtrs}}
                    {{#users}}  
                        {{>partials/policiais}}  
                    {{/users}}
                    {{#aggregateResult}}  
                        {{>partials/equip}}  
                    {{/aggregateResult}}
                    {{#menu.edit}}  
                        {{>partials/edit2}}   
                    {{/menu.edit}}
                    {{#menu.policiais}}  
                        {{>partials/edit}}   
                    {{/menu.policiais}}
                    {{#menu.equipamentos}}  
                        {{>partials/eqps}}  
                    {{/menu.equipamentos}}
                    {{#menu.diversos}}  
                        {{>partials/options}}  
                    {{/menu.diversos}}
                    {{#user_find}}  
                        {{>partials/cautelas}} 
                    {{/user_find}}
                    {{#menu.additem}}  
                        {{>partials/addcautela}}  
                    {{/menu.additem}}
                    {{#menu.vtrs2}}  
                        {{>partials/vtrop}}  
                    {{/menu.vtrs2}}
                    {{#eqps_findd}}  
                        {{>partials/equip_find}}  
                    {{/eqps_findd}}
                    {{#pms_findd}}  
                        {{>partials/policiais}}  
                    {{/pms_findd}}
                    {{#menu.os}}  
                        {{>partials/os}}  
                    {{/menu.os}}
                    {{#osss}}  
                        {{>partials/oss}}  
                    {{/osss}}
                    {{#ordem}}  
                        {{>partials/ordem}}  
                    {{/ordem}}
                    {{#menu.relatorios}}  
                        {{>partials/relatorios}}  
                    {{/menu.relatorios}}


                    
                </div>
            </div>
            <div class="container-footer">
            {{>partials/footer2}}