<div class="container-info-pms">
        <div class="container-txt-pms">
            <div class="txtdadospm">DADOS DO POLICIAL</div>
        </div>
        
        <div class="container-img-dados">
            <img src="{{img}}" class="foto-pm-info">
            <div class="container-dados-pms">
                <span><strong>Nome:</strong> {{nome}}</span>
                <span><strong>Num:</strong> {{num}}</span>
                <span><strong>Matrícula:</strong> {{matricula}}</span>
                <span><strong>Grad/Posto:</strong> {{grad}}</span>
                <span><strong>Função:</strong> {{funcao}}</span>
            </div>
        </div>
        <div class="container-txt-pms">
            <div class="txtdadospm">CAUTELAS</div>
        </div>
        
        
        
        <div class="container-cautelas">
           
           
            <div class="container-lista">
                <ul>{{#cautelas}}
                    <li>{{#.}} {{.}}
                        <form action="/{{matricula}}" method="get"> 
                            <img class="icones-li1" src="/images/icones/edit.png" alt="">
                        </form>
                        <form action="/{{matricula}}" method="get">
                            <img class='icones-li2' src="/images/icones/remove.png" alt="">
                        </form>
                    {{/.}}
                    </li>
                    {{/cautelas}}
                </ul>
            </div>


        </div>
        <div class="container-final">
            <img class="img-add-final" src="/images/icones/plus.png" alt="">
            <span class="newitem" >NOVO ITEM</span>
            <img class="img-doc-final" src="/images/icones/docx.png" alt="">
            <span class="newitem" >GERAR DOCUMENTO</span>
            <img class="img-doc-final2" src="/images/icones/left-arrow.png" alt="">

        </div>
    </div>