<div class="selecionar-itens-adicionar">

        <form action="/edit" method="get">
            <a href="/policiais">
                <div class="itens-menu-add">
                    <img src="images/pmcav.jpg" alt="" class="img-add-itenss">
                    <span class="textos-itens-adicionar"> Adicionar PM</span>
                </div>
            </a>
        </form>
        <form action="" method="get">
            <a href="/equipamentos">
            <div class="itens-menu-add">
                <img src="images/armcav.jpeg" alt="" class="img-add-itenss">
                <span class="textos-itens-adicionar"> Adicionar Equipamentos</span>
            </div>
            </a>
        </form>
        <form action="" method="get">
            <a href="/">
                <div class="itens-menu-add">
                    <img src="images/vtrcav.png" alt="" class="img-add-itenss">
                    <span class="textos-itens-adicionar"> Adicionar Viaturas</span>
                </div>
            </a>
        </form>
        <form action="" method="get">
            <a href="/diversos">
                <div class="itens-menu-add">
                    <img src="images/diversos.jpeg" alt="" class="img-add-itenss">
                    <span class="textos-itens-adicionar"> Diversos</span>
                </div>
            </a>
        </form>
        <form action="/oss" method="get">
            <a  href="/oss">
                <div class="itens-menu-add">
                    <img src="images/os.png" alt="" class="img-add-itenss">
                    <span class="textos-itens-adicionar"> O.S</span>
                </div>
            </a>
        </form>
        
</div>