<form action="/newuser" method="post">
    <div class="fundo-add-pm">
    
        <div class="dados-add-pm">
            <div class="add-num">
                <div class="texto-add">Numeral:</div>
                <input class="input-add" type="text" name="num" id="">
            </div>
            <div class="add-num">
                <div class="texto-add">Posto/Graduação:</div>
                <select class="input-add-select" type="text" name="grad" id="">
                    <option value="Soldado">Soldado</option>
                    <option value="Cabo">Cabo</option>
                    <option value="3ºSargento">3ºSargento</option>
                    <option value="2ºSargento">2ºSargento</option>
                    <option value="1ºSargento">1ºSargento</option>
                    <option value="Subtenente">Subtenente</option>
                    <option value="2ºTenente">2ºTenente</option>
                    <option value="1ºTenente">1ºTenente</option>
                    <option value="Capitão">Capitão</option>
                    <option value="Major">Major</option>
                    <option value="Tenente Coronel">Tenente Coronel</option>
                    <option value="Coronel">Coronel</option>
                </select>
            </div>
            <div class="add-num">
                <div class="texto-add">Matrícula:</div>
                <input class="input-add" type="text" name="mat" id="">
            </div>
            <div class="add-num">
                <div class="texto-add">Nome Completo:</div>
                <input class="input-add" type="text" name="nome" id="">
            </div>
             <div class="add-num">
                <div class="texto-add">QRA:</div>
                <input class="input-add" type="text" name="qra" id="">
            </div>
            <div class="add-num">
                <div class="texto-add">OPM:</div>
                <select class="input-add-select" type="text" name="opm" id="">
                    <option value="RPMONT">RPMONT</option>
                    <option value="1ESQ/RPMONT">1ESQ/RPMONT</option>
                    <option value="2ESQ/RPMONT">2ESQ/RPMONT</option>
                    <option value="3PEL/2ESQ/RPMONT">3PEL/2ESQ/RPMONT</option>
                </select>
            </div>
            <div class="add-num">
                <div class="texto-add">Função:</div>
                <input class="input-add" type="text" name="funcao" id="">
            </div>
            <div class="add-num">
                <div class="texto-add">Endereço:</div>
                <input class="input-add" type="text" name="end" id="">
            </div>
            <div class="add-num">
                <div class="texto-add">Telefone:</div>
                <input class="input-add" type="text" name="tel" id="">
            </div>
            <div class="add-num">
                <div class="texto-add">Link IMG:</div>
                <input class="input-add" type="text" name="img" id="">
            </div>
            
        </div>
        <button class="botoes-add-pm">
            <img class="btn-add-pm" src="/images/icones/plus.png" alt="">
            <div class="add-txt-pm-add">ADICIONAR</div>
        </button>
    </div>


</form>


