<form action="/newequip" method="post">    
    <div class="fundo-add-pm">
        <div class="dados-add-pm">
            <div class="add-num">
                <div class="texto-add">Tipo:</div>
                <select class="input-add-select" type="text" name="tipo" id="">
                    <option value="Arma Curta">Arma Curta</option>
                    <option value="Arma Longa">Arma Longa</option>
                    <option value="EPI">EPI</option>
                    <option value="Algemas">Algemas</option>
                    <option value="Munição">Munição</option>
                </select>
            </div>
            <div class="add-num">
                <div class="texto-add">Descrição:</div>
                <select class="input-add-select" type="text" name="nome" id="">
                    {{#options2}}
                    {{#options}}
                    <option value="{{.}}">{{#.}}{{.}}{{/.}}</option>
                    {{/options}}
                    {{/options2}}
                </select>
            </div>
            <div class="add-num">
                <div class="texto-add">Nº de Série:</div>
                <input class="input-add" type="text" name="nserie" id="">
            </div>
            <div class="add-num">
                <div class="texto-add">Situação:</div>
                <select class="input-add-select" type="text" name="situacao" id="">
                    <option value="Cautelado">Cautelado</option>
                    <option value="Reserva de Armamento">Reserva de Armamento</option>
                    <option value="Estoque">Estoque</option>
                </select>
            </div>
            <div class="add-num">
                <div class="texto-add">Nº da cautela</div>
                <input class="input-add" type="text" name="ncautela" id="">
            </div>
            <div class="add-num">
                <div class="texto-add">Data:</div>
                <input class="input-add" type="text" name="data" id="">
            </div>
            <div class="add-num">
                <div class="texto-add">Matrícula PM:</div>
                <input class="input-add" type="text" name="matricula" id="">
            </div>
            <div class="add-num">
                <div class="texto-add">Quantidade:</div>
                <input class="input-add" type="text" name="qtd" id="">
            </div>
            
        </div>
        <button class="botoes-add-pm">
            <img class="btn-add-pm" src="/images/icones/plus.png" alt="">
            <div class="add-txt-pm-add">ADICIONAR</div>
        </button>
    </div>
</form>