<div class="area-armamento">
        <div class="area-foto2">
            <img src="{{src}}" class="foto-eqp">
        </div>
        <div class="name_arma">
            <span class="name-a">{{nome}}</span>
        </div>
        <div class="desc-arma">
            <div class="tex-desc">
            Qtd: {{qtd}} <br>
            Cauteladas: {{cauteladas}} <br>
            Reserva: {{reserva}}
            </div>
        </div>
        <div class="area-botao2">
            <button class="botao-exibir">EXIBIR</button>
        </div>
</div>