<div class="area-armamento">
        <div class="area-foto2">
            <img src="{{img}}" class="foto-eqp">
        </div>
        <div class="name_arma">
            <span class="name-a">{{nome}}</span>
        </div>
        <div class="desc-arma">
            <div class="tex-desc">
            <strong>Status: </strong> {{situacao}} <br>
            <strong>nserie: </strong> {{nserie}} <br>
            <strong>Matricula: </strong>{{cautela.mat}}
            </div>
        </div>
        <div class="area-botao2">
            <button class="botao-exibir">EXIBIR</button>
        </div>
</div>