<div class="area-armamento">
        <div class="area-foto2">
            <img src="{{item.img}}" class="foto-eqp">
        </div>
        <div class="name_arma">
            <span class="name-a">{{item.nome}}</span>
        </div>
        <div class="desc-arma">
            <div class="tex-desc">
            <strong>Status:</strong> {{item.situacao}} <br>
            <strong>Qtd:</strong> {{count}} <br>
            </div>
        </div>
        <div class="area-botao2">
            <button class="botao-exibir">EXIBIR</button>
        </div>
</div>