<footer class="footer">
        
        REGIMENTO DE POLICIA MONTADA CORONEL MOURA BRASIL - RPMONT <br>
        Av. Washington Soares, 7250 - Cambeba, Fortaleza - CE, 60841-032 - E-mail: rpmont@policiamilitar.ce.gov.br
        <br>Horário de funcionamento
        De segunda a sexta de 8h às 12h e de 13h às 16:30h
        
        <br> DK DEV (C)
        

    </footer>

    <script src="script.js"></script>
</body>
</html>