<div class="container-menu">
            <div class="menor">
                <div class="div-menu" onclick="abrirmenu()">
                    <div class="img-menu"></div>
                </div>
                <a class="div-pm {{#menu.pms}}selected{{/menu.pms}}" href="/home">
                    <div class="img-pm"></div>
                </a>
                <a class="div-arma {{#menu.material}}selected{{/menu.material}}" href="/material">
                    <div class="img-arma"></div>
                </a>
                <a class="div-vtr {{#menu.vtrs}}selected{{/menu.vtrs}}" href="/vtrs">
                    <div class="img-vtr"></div>
                </a>
                <div class="resto-site2">
                    <a class="div-vtr {{#menu.edit}}selected{{/menu.edit}}" href="/edit">
                        <div class="img-resume"></div>
                    </a>
                    <div class="div-sair">
                        <div class="img-sair"></div>
                    </div>
                </div>
            </div>
            <div class="maior">
                <div class="div-perfil">
                    <div class="img-perfil">.</div>
                </div>
                <div class="grad">
                    Sd Kevin
                </div>
                <div class="func">
                    Aux. P4
                </div>
                <a class="div-pmm {{#menu.pms}}selected{{/menu.pms}}" href="/home">
                    <div class="img-pmm">PMS</div>
                </a>
                <a class="div-armam {{#menu.material}}selected{{/menu.material}}" href="/material">
                    <div class="img-armam">EQUIPAMENTOS</div>
                </a>
                <a class="div-vtrm {{#menu.vtrs}}selected{{/menu.vtrs}}" href="/vtrs">
                    <div class="img-vtrm">VIATURAS</div>
                </a>
                <div class="resto-site">
                    <a class="div-cadastrosm {{#menu.edit}}selected{{/menu.edit}}" href="/edit">
                        <div class="cadastros-vtrm">CADASTROS</div>
                    </a>
                    <div class="div-sairm">
                        <div class="img-sairm">Sair</div>
                    </div>
                </div>
            </div>