    <div class="fundo-add-pm">
        <div class="dados-add-pm">
            <h1>NOVA DESCRIÇÃO </h1>
            <div class="add-num">
                <div class="texto-add">DESCRIÇÃO:</div>
                <input class="input-add" type="text" name="" id="">
            </div>
        </div>
        <div class="botoes-add-pm">
            <img class="btn-add-pm" src="/images/icones/plus.png" alt="">
            <div class="add-txt-pm-add">ADICIONAR</div>
        </div>
    </div>