<div class="addos-container">
        <div class="itens-containes-os2">
            <span class="txt-cadastrar-os">VIATURA {{vtr}}</span>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">OS nº</span>
            <div type="text" class="div-add-os">{{os}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">DATA</span>
            <div type="text" class="div-add-os">{{data}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">VTR</span>
            <div type="text" class="div-add-os">{{vtr}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">OFICINA</span>
            <div type="text" class="div-add-os">{{oficina}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">STATUS</span>
            <div type="text" class="div-add-os">{{status}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">KM</span>
            <div type="text" class="div-add-os">{{km}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">CONDUTOR</span>
            <div type="text" class="div-add-os">{{condutor}}</div>
        </div>
        <div class="itens-containes-os2">
            <span class="txt-cadastrar-os">ITENS</span>
        </div>
        <div class="itens-containes-os777">
            <div type="text" class="div-add-os222">
                
                <ul class="lista-add-os">
                    {{#itens}}<li class="item-li-2">{{.}}</li>{{/itens}}
                </ul>
            </div>
        </div>
        <div class="itens-containes-os666">
            <span class="txt-menu-addcontainer">VALOR</span>
            <div type="text" class="div-add-os">{{valor}} R$</div>
        </div>

    </div>
    