<div class="addos-container">
        <div class="itens-containes-os2">
            <span class="txt-cadastrar-os">VIATURA {{vtr}}</span>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">OS nº</span>
            <div type="text" class="div-add-os">{{os}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">DATA</span>
            <div type="text" class="div-add-os">{{data}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">VTR</span>
            <div type="text" class="div-add-os">{{vtr}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">OFICINA</span>
            <div type="text" class="div-add-os">{{oficina}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">STATUS</span>
            <div type="text" class="div-add-os">{{status}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">KM</span>
            <div type="text" class="div-add-os">{{km}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">CONDUTOR</span>
            <div type="text" class="div-add-os">{{condutor}}</div>
        </div>
        <div class="itens-containes-os2">
            <span class="txt-cadastrar-os">ITENS</span>
        </div>
        <div class="itens-containes-os777">
            <div type="text" class="div-add-os222">
                
                <ul class="lista-add-os">
                    {{#itens}}<li class="item-li-2">{{.}}</li>{{/itens}}
                </ul>
            </div>
        </div>
        <div class="itens-containes-os666">
            <span class="txt-menu-addcontainer">VALOR</span>
            <div type="text" class="div-add-os">{{valor}} R$</div>
        </div>
        <a class="link-itens-a" href="/baixar/{{os}}">
            <button class='botao-confirmar-pagamento'> Baixar Ordem de Serviço </button>
        </a>
        <a class="link-itens-a" href="/pagar/{{os}}">
            <button class='botao-confirmar-pagamento'> Gerar Oficio de pagamento </button>
        </a>
        {{^oficio}}
        <a class="link-itens-a" href="/pg/{{os}}">
            <button class='botao-confirmar-pagamento'> Confirmar Pagamento </button>
        </a>
        {{/oficio}}
        {{#menu.pagar}}
        <br>
        <div> 
            <form action="/confirmar/{{os}}" method="post">
            <div class="itens-containes-os2222">
                <span class="txt-menu-addcontainer">Nº Oficio</span>
                <input type="txt" class="inputs-add-os2222" placeholder="Digite o numero do oficio" name="oficio">
            </div>
            <div class="itens-containes-os2222">
                <span class="txt-menu-addcontainer">Data do pagamento</span>
                <input type="date" class="inputs-add-os2222"  name="dpagamento">
            </div>
            
            <button type="submit" class="button-add-os-cav">PAGAR</button>
            </form>
            
        </div>
        {{/menu.pagar}}

    </div>
    