<div class="addos-container2">
        <div class="itens-containes-os2">
            <span class="txt-cadastrar-os">VIATURA {{viatura.prefixo}}</span>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">VTR</span>
            <div type="text" class="div-add-os">{{viatura.prefixo}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">MODELO</span>
            <div type="text" class="div-add-os">{{viatura.modelo}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">ANO</span>
            <div type="text" class="div-add-os">{{viatura.ano}}</div>
        </div>
        <div class="itens-containes-os">
            <span class="txt-menu-addcontainer">KM</span>
            <div type="text" class="div-add-os">{{viatura.km}}</div>
        </div>
        <div class="itens-containes-os2">
            <span class="txt-cadastrar-os">ÚLTIMAS 8 ORDENS DE SERVIÇO</span>
        </div>
        <div class="itens-containes-os777">
            <div type="text" class="div-add-os222">
                <ul class="lista-add-os">
                    {{#os2}}
                    <a class="link-itens-a" href="/exibir/{{os}}">
                    <button><li class="item-li-2"><strong>OS Nº  </strong>{{os}} /<strong> VALOR: </strong>{{valor}} / <strong>OFICINA:</strong> {{oficina}} /<strong> DATA</strong>: {{data}}<strong><br> STATUS: </strong>{{status}}</li></button>
                    </a>
                    {{/os2}}
                </ul>
            </div>
        </div>


    </div>