<form action="/tabelas" method="get">
            <a  href="/tabelas">
                <div class="itens-menu-add">
                    <img src="images/os.png" alt="" class="img-add-itenss">
                    <span class="textos-itens-adicionar"> O.S </span>
                </div>
            </a>
</form>