<div class="container-espaco-vtr">
        <div class="container-espaco-foto">
            <img class="vtr-policia" src="images/icons2/police-car.png">
        </div>
        <div class="container-espaco-nome">
            <span class="txt-nvtr">{{prefixo}}</span>
            <span class="txt-placa">PME2C23</span>
        </div>
        <div class="container-espaco-icons-status">
            <img class="img-sirene-verde" src="images/icons2/siren (1).png" alt="">
            <span class="text-operando" >OPERANDO</span>
        </div>
        <span class="text-mot-kmfinal">Ultimo MOT: SD Kevin <br> KM Final: {{km}}</span>
        <div class="area-btn-vtrs">
            <form action="/{{prefixo}}" method="get">
                <button  class="btn-1-vtr-op">ESTADO</button>
            </form>
            <form action="/{{prefixo}}/os" method="get">
                <button  class="btn-2-vtr-op">OS's</button>
            </form>    
            <form action="/{{prefixo}}" method="get">
                <button  class="btn-2-vtr-op">MANUTENÇÃO</button>
            </form>
            <form action="/{{prefixo}}" method="get">
                <button class="btn-3-vtr-op">BAIXAR</button>
            </form>    
        </div>
        <div class="area-semaltera">
            <img class="semalteracao" src="images/icons2/check-mark.png" alt="">
            <span class="text-mot-kmfinal">Sem alteração</span>

        </div>
        
        
</div>